/******************************\
             Header
/******************************/

* {
    box-sizing: border-box;
}

body {
    max-width: 100%;
    background-color: #f2f2f2;
}

header {
    width: 100%;
}

.header1 {
    background-color: #0d2554;
    padding-bottom: 1px;
    padding-top: 20px;
}

.recherche_p {
    position: relative;
    display: block;
    top: -45px;
    width: 28vw;
}

#search {
    position: relative;
    border: solid 0px black;
    width: 250px;
    height: 30px;
    font-family: ssp;
    color: black;
    left: 20px;
    top: 35px;
}

.reseaux-sociaux {
    position: absolute;
    top: 18px;
    right: 1.5%;
}

.reseaux-sociaux img {
    padding-left: 10px;
    height: 20px;
    width: 30px;
}

.header2 {
    background-color: #0f3072;
    padding-bottom: 10px;
    height: 120px
}

.logo {
    padding-left: 10px;
    height: 100px;
}

header h1 {
    color: white;
    font-family: Avenir;
    font-size: 20px;
    font-weight: 100;
    padding-left: 40%;
    padding-bottom: 15px;
    padding-top: 10px;
    font-style: italic;
    margin: 0;
}

.roundedImage {
    float: right;
    margin-top: -100px;
    margin-right: 30px;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 100%;
    width: 70px;
    height: 75px;
}

.profil {
    width: 50px;
    height: 55px;
    border-radius: 50%;
    right: 80%;
    background: no-repeat;
}

.header3 {
    background-color: #0d2554;
}

#menu{
    display: flex;
    justify-content: space-between;
    padding: 0.8% 7.5% 0.8% 7.5%;
    margin: auto;
    width: 85%;

}

#menu li{
    display: inline-block;
    text-align: center;
    list-style-type: none;
    border-right: 2px solid white;
    padding-right: 7%;
    padding-bottom: 10px;
    padding-top: 10px;
}


#menu li a{
    color: white;

}

#menu > li:nth-child(1) > a{
    color: #fec500;
}

#menu > li:nth-child(5){
    border-right: 0;
}
/******************************\
            div accueil
/******************************/

.accueil-principale {
    width: 100%;
}

.description {
    margin: 0;
    color: black;
    font-family: Surrounding;
    text-align: center;
    font-size: 23px;
    padding-top: 5px;
}

.tagline {

    position: absolute;
    top: 120px;
}

.couleur-fond {
    background-color: #f2f2f2;
}

.couleur-fond2 {
    background-color: #ffffff;
}

.accueilimage1 {
    background-color: gainsboro;
    width: 100%;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.accueilimage1 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.image-pub {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.videos-accueil {
    margin-top: 0;
    padding-top: 10px;
    margin-bottom: 0;
    padding-bottom: 30px;
    width: 100%;
}

.videos-accueil h3 {
    display: block;
    margin-left: 2.5%;
    margin-right: 2.5%;
    border-bottom: 1px solid black;
    font-weight: 200;
}

.lespluevues h3 {
    padding-bottom: 30px;
}

.lespluevues, .lespluerecentes {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: calc(100% - 50px);
    position: relative;
}

.lespluevues:after, .lespluerecentes:after {
    content: url('../media/icones/fleches.png');
    position: absolute;
    top: 50%;
    right: -20px;
    transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
}

.lespluevues .video-elm, .lespluerecentes .video-elm {
    width: 20%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    height: 14%;
    max-width: 20%;
}

.lespluevues img, .lespluerecentes img {
    width: 100%;
}

.lespluevues .video-elm p, .lespluerecentes .video-elm p {
    margin: 0;
}

/******************************\
            VIDEO
/******************************/

.pagevideo{
    overflow: auto;
    width: 100%;
}

.titre-video{
    margin-top: 10px;
    font-size: 25px;
    font-family: Avenir;
    font-weight: 100;
    color: black;
    margin-left: 8%;
    margin-bottom: 10px;
}

.video-partie{
    background-color: #f2f2f2;
    width: 60%;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    padding: 0 5%;
}


.info-video{
    position: relative;
    min-height: 200px;
}

.pub-video{
    margin-top: 10px;
    width: 100%;
}

.right-video{
    position: absolute;
    vertical-align: top;
    top: 0;
    right: 0;
}

.right-video p:first-child{
    margin-top: 0;
}

.info-video-principale{
    background-color: white;
    padding: 5px 30px;
}

.info-video-principale p{
    font-size: 20px;
    font-family: Avenir;
    font-weight: 300;
}

.info{
    margin-top: 95px;
    padding: 0 2% 4% 2%;
    width: 100%;
    text-align: center;
    border: 1px solid black;
    font-size: 25px;
}

.live{
    width: 100%;
}

.info-video-principale{
    font-size: 20px;
    font-family: Avenir;
    font-weight: 300;
    color: black;
}

.video-partie1{
    padding-top: 45px;
    padding-bottom: 45px;
    width: 40%;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
}

.video-partie1 img{
    margin: 10px 0;
}

.video-partie1 .content{
    padding-left: 10px;
    line-height: 85%;
}

.autre-video img, .video-partie1 .content{
    display: inline-block;
    width: 39%;
    vertical-align: top;
}

.autre-video img{
    min-width: 30%;
}

.video1,.video2, .video3{
    display: flex;
    width: 50%;
}

.video-partie1 > div:nth-child(1), .video-partie1 > div:nth-child(2), .video-partie1 > div:nth-child(4), .video-partie1 > div:nth-child(5){
    padding-bottom: 25px;
}

.video-partie1 > div:nth-child(3){
    padding-bottom: 80px;
}

.video-partie1 > div:nth-child(6){
    border-bottom: 1px solid black;
}

.autre-video{
    padding-left: 150px;
}

/******************************\
           /VIDEO
/******************************/

/******************************\
          CONTACT
/******************************/
#MonFormulaire h1{
    text-align: center;
    margin-top: 0;
    padding-top: 10px;
    font-family: Montserrat;

}



#MonFormulaire{width:50%; margin:0 auto; font-size:0.85em;}
#MonFormulaire ul{padding-left:0px;}
#MonFormulaire li{background-color:rgb(255,255,255); line-height:3em; border-radius:0.5em; list-style:none; padding:0.5em; margin-bottom:0.5em; transition:box-shadow 0.5s ease; border: 1px solid; color:#0d2554;}
#MonFormulaire li:hover{box-shadow:0 0 10px;  color: #0d2554;;}
#MonFormulaire li label, #MonFormulaire li input{display:inline-block;}
#MonFormulaire label{font-family:Surrounding; margin-left:1em; width:140px; text-align:center;	}
#MonFormulaire input{font-family:'Surrounding'; font-size:0.85em; width:65%; height:2.5em; border:none; text-align:center; border-left:1px solid rgb(150,150,150); margin-left:1em; background:transparent;}
#MonFormulaire textarea{font-family:'Surrounding'; width:98%; height:14em; font-size:0.85em; padding:0.5em; border:none; text-align:center;}

#MonFormulaire button#Btn-Submit{background-color:rgb(38,38,40); color:#fec500;); font-family:'Surrounding'; font-size:1em; text-transform:uppercase; width:300px; margin:1em auto; border:none; cursor:pointer; border-radius:0.4em; transition: background 0.5s ease, border-radius 0.5s ease; padding:1em 0; margin-left: 24% }


@media screen and (max-width: 1115px){
    #MonFormulaire{
        width:500px;
    }
}






/******************************\
          /CONTACT
/******************************/

/******************************\
           Catégorie
/******************************/

.categorie1, .categorie2,.categorie3{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.categorie1 a, .categorie2 a, .categorie3 a{
    text-align: center;
    margin-bottom: 2.5%;
    margin-top: 2.5%;
}

.categorie1 a img, .categorie2 a img,.categorie3 a img{
    width: 80%;
    height: 80%;
}



/******************************\
           /Catégorie
/******************************/

/******************************\
           PAGE LIVE
/******************************/

.global-live {
    overflow: auto;
    width: 100%;
}

.live-partie1 {
    background-color: #f2f2f2;
    width: 60%;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    padding: 0 5%;
    margin-left: 15%;
}

.information-video {
    position: relative;
    min-height: 200px;
}

.right {
    position: absolute;
    vertical-align: top;
    top: 0;
    right: 0;
}

.right p:first-child {
    margin-top: 0;
}

.information-live {
    background-color: white;
    padding: 5px 30px;
    width: 125%;
}

.information-live p {
    font-size: 20px;
    font-family: Avenir;
    font-weight: 300;

}

.information {
    margin-top: 95px;
    padding: 0 2% 4% 2%;
    width: 100%;
    text-align: center;
    border: 1px solid black;
    font-size: 25px;
}

.live-partie2 {
    width: 40%;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
}

.live-partie2 img {
    margin: 10px 0;
}

.live-partie2 .content {
    padding-left: 10px;
}

.live-partie2 img, .live-partie2 .content {
    display: inline-block;
    width: 39%;
    vertical-align: top;
}

.titre-live {
    margin-top: 10px;
    font-size: 25px;
    font-family: Avenir;
    font-weight: 100;
    color: black;
    margin-left: 8%;
    margin-bottom: 10px;
}

.live {
    width: 100%;
}

.pub {
    margin-top: 10px;
    width: 100%;
    margin-left: 10%;
}

.utilisateur, .date-ligne, .nombre-live, .information-live {
    font-size: 20px;
    font-family: Avenir;
    font-weight: 300;
    color: black;
}

.video1, .video2, .video3 {
    display: flex;
    width: 50%;
}

/******************************\
            /LIVE
/******************************/

/******************************\
            Profil
/******************************/

.description_profil > h3 {
    text-align: center;
    margin-top: 0;
}

.page_profil p {
    text-align: center;
}

.page_profil button {
    display: block;
    margin: auto;
    border-radius: 10px;
    box-shadow: none;
    padding-bottom: 2px;
    padding-top: 2px;
    padding-right: 10px;
    padding-left: 10px;
}

.description_profil > button {
    color: black;
    background-color: darkgrey;
    border-color: black;
    margin-top: 40px;
}

.description_profil p {
    margin-top: 40px;
}

.videos_profil button {
    background-color: #292D35;
    color: #FEC805;
    border-color: black;
}

.videos_profil {
    display: block;
    margin: 30px;
    width: 80%;
    padding-top: 10px;
}

.videos_profil img {
    width: 100px;
    display: block;
    margin: auto;
}

.videos_profil h3 {
    margin-left: 5%;
}

.videos_profil p {
    margin-top: 5px;
}

.profil {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: solid;
    border-color: black;
    border-width: 2px;
    display: block;
    margin-left: 50px;
    margin-top: 10px;
    margin-right: 50px;
}

.profil_presentation {
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
}

.description_profil {
    width: 100%;
    background-color: white;
    padding: 10px;
    margin: 10px;
}

.ajoutees, .preferences {
    display: table-cell;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 10px;
}

.ajoutees {
    width: 210px;
}

.preferences {
    width: 160px;
}

/******************************\
            /Profil
/******************************/

/******************************\
          Inscription
/******************************/

#nom, #prenom, #ville, #mail, #identifiant, #motdepasse, #motdepasse2 {
    border: solid 2px grey;
    background-color: #D9E0E2;
    width: 450px;
    height: 40px;
    font-family: ssp;
    color: black;
    left: 20px;
    top: 35px;
}

.titre-inscription{
    margin-top: 25px;
    margin-bottom: 50px;;
    text-align: center;
    font-size: 35px;
}

.inscription{
    text-align: center;
}

.motdepasse2{
    padding-bottom: 50px;
}

.button {
    background-color: #303030;
    width: 200px;
    border: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    color: yellow;
    padding: 15px 32px;
    margin-bottom: 50px;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    cursor: pointer;
    border-radius: 10px;
}

/******************************\
         /Inscription
/******************************/


/******************************\
            AGENDA
/******************************/

.agenda {
    background-color: #D9E0E2;
    padding: 10px;
}

.videos_agenda {
    background-color: white;
    padding: 10px;
    margin: 10px;
}

.video_agenda, .videos_agenda h4  {
    padding-bottom: 10px;
    margin-left: 100px;
}

.video_agenda img {
    float: left;
    width: 200px;
    margin-right: 10px;
}

.video_agenda p {
    margin-top: 10px;
}

.agenda h2 {
    text-align: center;
    margin: 0;
    padding: 5px;
}


.agenda button {
    display: inline-block;
    margin: 0;
}

.agenda .revoir {
    margin-left: -7px;
}

.boutons_agenda {
    text-align: center;
}

/******************************\
            /AGENDA
/******************************/

/******************************\
            Qui sommes nous ?
/******************************/

.quisommesnous .h2 {
    text-align: center;
}

.qsn img {
    display: block;
    background-color: black;
    margin: auto;
    width:30%;
}

.qsn {
    background-color: white;
    padding: 10px;
    margin: 10px;
}

/******************************\
             /Qui sommes nous ?
/******************************/

/******************************\
            RECHERCHE
/******************************/

.recherche, .recherche-titre {
    text-align: center;
}

/******************************\
            /RECHERCHE
/******************************/

/******************************\
            ADRESSES
/******************************/

.bonne-adresses h1 {
    text-align: center;
    margin-top: 10px;
}

.adresses {
    background-color: white;
    margin: 10px;
    padding: 10px;
}

.image-adresse {
    display: flex;
    margin: 35px;

}

.image-adresse img {
    margin-right: 10px;
}

.image-adresse a {
    color: blue;
}

.image-adresse a:visited {
    color: blueviolet;
}

.info-adresse {
    flex-direction: column;
}

/******************************\
            /ADRESSES
/******************************/



/******************************\
            FOOTER
/******************************/

footer{
    width: 100%;
}

.footer1{
    background-color: #0f3072;
}

.menu-footer{
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 1.5% 12.5% 1.5% 12.5%;
    margin: auto;
    width: 70%;
}
.menu-footer li{
    display: inline;
    list-style-type: none;
}

.menu-footer li a{
    color: white;
}

#jaune2{
    color: #fec500;
}

.footer2{
    background-color: #0d2554;
}

.mention-legale{
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;;
    text-align: center;
    color: white;
}

/*<<<<<<< HEAD

<<<<<<< HEAD
=======
HEAD
>>>>>>> origin/master*/
@charset "utf-8";
/* CSS Document */

/* ---------- FONTAWESOME ---------- */
/* ---------- http://fortawesome.github.com/Font-Awesome/ ---------- */
/* ---------- http://weloveiconfonts.com/ ---------- */

@import url(http://weloveiconfonts.com/api/?family=fontawesome);

*[class*="fontawesome-"]:before {
    font-family: 'FontAwesome', sans-serif;
}

/* ---------- GENERAL ---------- */

body {
    background: #f9f9f9;
    color: #0e171c;
    font: 300 100%/1.5em 'Lato', sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
}

h2 {
    font-size: 2em;
    line-height: 1.25em;
    margin: .25em 0;
}

h3 {
    font-size: 1.5em;
    line-height: 1em;
    margin: .33em 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.container {
    height: 538px;
    left: 50%;
    margin: -255px 0 0 -245px;
    position: absolute;
    top: 50%;
    width: 510px;
}

/* ---------- CALENDAR ---------- */

.calendar {
    text-align: center;
}

.calendar header {
    position: relative;
}

.calendar h2 {
    text-transform: uppercase;
}

.calendar thead {
    font-weight: 600;
    text-transform: uppercase;
}

.calendar tbody {
    color: #7c8a95;
}

.calendar tbody td:hover {
    border: 2px solid #00addf;
}

.calendar td {
    border: 2px solid transparent;
    border-radius: 50%;
    display: inline-block;
    height: 4em;
    line-height: 4em;
    text-align: center;
    width: 4em;
}

.calendar .prev-month,
.calendar .next-month {
    color: #cbd1d2;
}

.calendar .prev-month:hover,
.calendar .next-month:hover {
    border: 2px solid #cbd1d2;
}

.current-day {
    background: #00addf;
    color: #f9f9f9;
}

.event {
    cursor: pointer;
    position: relative;
}

.event:after {
    background: #00addf;
    border-radius: 50%;
    bottom: .5em;
    display: block;
    content: '';
    height: .5em;
    left: 50%;
    margin: -.25em 0 0 -.25em;
    position: absolute;
    width: .5em;
}

.event.current-day:after {
    background: #f9f9f9;
}

.btn-prev,
.btn-next {
    border: 2px solid #cbd1d2;
    border-radius: 50%;
    color: #cbd1d2;
    height: 2em;
    font-size: .75em;
    line-height: 2em;
    margin: -1em;
    position: absolute;
    top: 50%;
    width: 2em;
}

.btn-prev:hover,
.btn-next:hover {
    background: #cbd1d2;
    color: #f9f9f9;
}

.btn-prev {
    left: 6em;
}

.btn-next {
    right: 6em;}

li.newsletter a {
    color: #fec500;
>>>>>>> origin/master
}


/******************************\
            DIFFUSEZ-VOUS
/******************************/


#Btn1-Submit {
    color: #fec500;
}

/******************************\
            DIFFUSEZ-VOUS
/******************************/
